<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-caption">
          <h1 class="page-title"><img src="images/hooktlogo.png" alt="Hookt Logo" style="width:400px;height:400px;"></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.page-header-->
<!-- signup -->
<div class="card-section">
  <div class="container" id="horoscopebox">
    <div class="card-block bg-white mb30">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <!-- section-title -->
          <div class="section-title mb-0">
            <h2>-------------------------------------------</h2>
            <p>------------------------------------------------</p>
          </div>
          <!-- /.section-title -->
        </div>
      </div>
    </div>
    <div class="row" id="footer">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <!-- footer section  -->
      </div>
    </div>
  </div>
</div>
</div>
