<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>
        <form class="login-form">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
            <input type="text" class="form-control" placeholder="">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input type="password" class="form-control" placeholder="">
          </div>


          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <small>Remember Me</small>
            </label>
            <a href="profile"><button type="submit" class="btn btn-login float-right">Submit</button></a>
          </div>
        </form>

      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="/images/alex-iby-LaHo9Set3bI-unsplash.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2><img src="images/hooktlogo.png" alt="Hookt Logo" style="width:450px;height:400px;"></h2>
                  <p>"Love is everything it's cracked up to be. That's why people are so cynicalabout it.. Itreally is
                    worth fighting for , risking everything for. And the troubleis, if you don't riskeverything, you
                    risk even more." - Erica Jong</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/images/jake-dela-concepcion-SDktAkDbmgE-unsplash.jpg"
                alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2><img src="images/hooktlogo.png" alt="Hookt Logo" style="width:450px;height:400px;"></h2>
                  <p>"Maybe love is like luck. You have to go all the way to find it." - RobertMitchum</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="/images/annette-sousa-HW-ep3fC4Kc-unsplash.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2><img src="images/hooktlogo.png" alt="Hookt Logo" style="width:450px;height:400px;"></h2>
                  <p> "Young love is from the earth, and late love is from heaven." - TurkishProverb</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>