

<div class="container portfolio" id="profile">
    <div class="row">
        <div class="col-md-12">
            {{!-- <div class="heading">
                <img src="https://image.ibb.co/cbCMvA/logo.png">
            </div> --}}
        </div>
    </div>
    <div class="bio-info">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bio-image">
                    <img src="https://images.unsplash.com/photo-1561259230-46fa9832bf20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" width="550" alt="joseph">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bio-content">
                    <h1 id="welcome">Welcome, {{userdata.first_name}}</h1>
<h3 id="yourSign">Check out your daily horoscope for {{userdata.astrology_sign}}</h3>
<h3 id="horoscope">{{yourHoro.description}}</h3>
<h3 id="dateMatches">
    Your HOOKt matches for today are
    {{#each matches}}
<div>
    <li>{{this.first_name}}</li>
    <a href='/match/5'>View Profile</a>
</div>
{{/each}}

</h3>
                </div>
            </div>
        </div>
    </div>
</div>